@model IEnumerable<ProjetoFinal_InforQui.Models.Compras_Produtos>

@{
    ViewBag.Title = "MostraProduto";
}

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>


@foreach (var item in Model)

{

    <li>
        @item.Quantidade - @item.Preco

        <input type="text" value="@item.Quantidade" readonly="readonly" />
        <input type="submit" value="alterar" />
        @Html.ActionLink("Remover", "Remover", "Shop", new { id = item.ProdutoFK }, null)
    </li>


}
@Html.ActionLink("Retornar", "Servicos", "Shop")