@model IEnumerable<ProjetoFinal_InforQui.Models.Compras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CompraID)</th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.CompraID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Utilizador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraID })
        </td>
    </tr>
}

</table>
