<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="~/Content/Imagens/InforQui1.png">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <table class="link">
        <tr>
            <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff">
                <img src="~/Content/Imagens/Home.png" style="width:50px; height:40px; cursor:pointer">
                @Html.ActionLink("InforQui", "Index", "Home")
            </td>

            <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff">
                <img src="~/Content/Imagens/utilizador.png" style="width:50px; height:40px; cursor:pointer">
                @Html.ActionLink("Utilizador", "Utilizador", "Home")
            </td>

            <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff">
                <img src="~/Content/Imagens/sobre.png" style="width:50px; height:40px; cursor:pointer">
                @Html.ActionLink("Sobre", "Sobre", "Home")
            </td>

            <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff">
                <img src="~/Content/Imagens/contact.png" style="width:50px; height:40px; cursor:pointer">
                @Html.ActionLink("Contacto", "Contactos", "Home")
            </td>
            <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff">
                <img src="~/Content/Imagens/compra.png" style="width:50px; height:40px; cursor:pointer">
                @Html.ActionLink("Produtos", "Index", "Produtos")
            </td>
        </tr>
    </table>

    @Html.Partial("_LoginPartial")
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>