@model ProjetoFinal_InforQui.Models.Produtos

@{
    ViewBag.Title = "Detalhes";
}

<br /><br />
<hr />

<div style="float:right;">
    <h3 style="font-family:'Times New Roman'; font-weight:bold; text-align:center">
        <i>@Html.DisplayFor(model => model.Nome)</i>
    </h3>
    <img src="~/Content/Imagens/@Html.DisplayFor(model =>model.Imagem)" style="height:400px;width:400px;" />
</div>
<br /><br />
<table style="width:700px; height:50px; border:2px solid #00ffff;">
    <tr style="border:3px solid #00ffff">
        <th style="border:3px solid #00ffff; text-align:center">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th  style="border:3px solid #00ffff; text-align:center;">
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th  style="border:3px solid #00ffff; text-align:center">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>

    </tr>
    <tr>
        <td  style="border:3px solid #00ffff;">
            @Html.DisplayFor(model => model.Descricao)
        </td>
        <td  style="border:3px solid #00ffff; font-size:18px; color:#ff00dc">
            @Html.DisplayFor(model => model.Preco)
        </td>
        <td  style="border:3px solid #00ffff;">
            @Html.DisplayFor(model => model.Tipo)
        </td>
    </tr>
</table>
<br /><br />
<div>
    <button style="background-color:#00ff90; height:50px; width:200px;">
        @Html.ActionLink("Adicionar ao Carrinho", "Criar", "Compras_Produtos")
    </button>
    <button style="background-color:#ff00dc; height:50px; width:250px;">
        @Html.ActionLink("Volta para a lista dos produtos", "Index")
    </button>
</div>

